<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Design101Entities" connectionString="metadata=res://*/Design101Model.csdl|res://*/Design101Model.ssdl|res://*/Design101Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=tropicalnet_design101_trunk;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>